$RECYCLE.BIN/
*-eps-converted-to.pdf
*.aux
*.bbl
*.blg
*.cab
*.dvi
*.fdb_latexmk
*.fls
*.lnk
*.log
*.msi
*.msm
*.msp
*.spl
*~
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Rhistory
.Spotlight-V100
.Trashes
._*
.~*
Desktop.ini
ehthumbs.db
Network Trash Folder
Temporary Items
Thumbs.db
